.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: white;
}

.task-item__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}
.task-item__title h2 {
  color: white;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: black;
}

.task-item__description h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: black;
}

.task-item__description {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .task-item__title {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .task-item__title h2 {
    font-size: 1.25rem;
  }

  .task-item__description {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
.title {
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  background-color: lightcoral;
}
.taskStatus {
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
  color: black;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  background-color: greenyellow;
}
